<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lawn Guyland Snail Road</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="/js/jquery.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/client.js"></script>

</head>

<body>
  <div class="container">
    <!-- if logged in -->
    {{#logged_in}}
    <h5>Hello {{email}}! You're now logged in :)</h5>

<div class="row">
    <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Choose departure</option>
          {{#trains}}
          <option value="{{longname}}">{{longname}}</option>
          {{/trains}}
          <!-- <option value="2">Option 2</option> -->

        </select>
        <label>Departure location</label>
      </div>
    </div>

    {{/logged_in}}



    <!-- if not logged in -->
    {{^logged_in}}
    <form class="col s12" action="/login" method="post">
      <div class="row">
        <h4>Login</h4>
        <div class="input-field col s6">
          <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
          <label for="email"></label>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" type="password" name="password" class="validate" placeholder="password">
            <label for="password"> </label>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/signup">or sign up!</a>
        </div>
    </form>
    {{/logged_in}}

</body>

</html>
