<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lawn Guyland Snail Road</title>
  <link href="/css/materialize.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <!-- if logged in -->
    {{#logged_in}}
    <h4>Hello {{email}}!</h4>
    <p>You're now logged in :)</p>
    {{/logged_in}}



    <!-- if not logged in -->
    {{^logged_in}}
    <form class="col s12" action="/login" method="post">
      <div class="row">
        <h4>Login</h4>
        <div class="input-field col s6">
          <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
          <label for="email"></label>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" type="password" name="password" class="validate" placeholder="password">
            <label for="password"> </label>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/signup">or sign up!</a>
        </div>
    </form>
    {{/logged_in}}

</body>

</html>
