<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lawn Guyland Snail Road</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" /> -->
  <script src="/js/jquery.js"></script>
  <!-- <script src="/js/materialize.min.js"></script> -->
  <script src="/js/client.js"></script>
</head>

<body>
  <div class="container">
  <form class="col s12" action="/signup" method="post">
    <div class="row">
      <h4>Sign up here</h4>
      <div class="input-field col s6">
        <input id="email" type="email" name="email" class="validate" placeholder="email">
        <label for="email"></label>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" name="password" class="validate" placeholder="password">
          <label for="password"> </label>
        </div>
      </div>
      <div>
        <button type="submit" name="button" class="waves-effect waves-light btn #2196f3 blue">Register</button>
      </div>
    </div>
  </form>
</body>

</html>
